In [1]:
print('I\'m ok.')

I'm ok.

In [2]:
print('I\'m learning\nPython.')

I'm learning
Python.

In [3]:
print('\\\n\\')

\
\

In [4]:
print('\\\t\\')

\	\

In [5]:
print(r'\\\t\\')

\\\t\\

In [6]:
print('''line1
... line2
... line3''')

line1
line2
line3

In [7]:
print('''line1
      line2
      line3''')

line1
      line2
      line3

In [8]:
print('''line1
line2
line3''')

line1
line2
line3

In [9]:
True

True

In [10]:
False

False

In [11]:
3 > 2

True

In [12]:
3 > 5

False

In [13]:
True and True

True

In [14]:
True and False

False

In [15]:
False and False

False

In [16]:
5 > 3 and 3 > 1

True

In [17]:
True or True

True

In [18]:
True or False

True

In [19]:
False or False

False

In [20]:
5 > 3 or 1 > 3

True

In [21]:
not True

False

In [22]:
not False

True

In [23]:
not 1 > 2

True

In [ ]:
a = 1

In [24]:
t_007 =  'T007'

In [25]:
Answer = True

In [27]:
a  = 123
print(a)

123

In [28]:
a = 'ABC'
print(a)

ABC

In [29]:
x  = 10
x = x + 2

In [30]:
a = 'ABC'
b = a
a = 'XYZ'
print(b)

ABC

In [31]:
PI = 3.14159265359

In [32]:
10 / 3

3.3333333333333335

In [33]:
9 / 3

3.0

In [34]:
10 // 3

3

In [35]:
10 % 3

1

In [36]:
n = 123
f = 456.789
s1 = 'Hello, world'
s2 = 'Hello,\'Adam\'' 
s3 = r'Hello, "Bart"'
s4 = r'''Hello,
Bob!'''
print(n)
print(f)
print(s1)
print(s2)
print(s3)
print(s4)

123
456.789
Hello, world
Hello,'Adam'
Hello, "Bart"
Hello,
Bob!

In [37]:
print('包含中文的str')

包含中文的str

In [38]:
ord('A')

65

In [39]:
ord('中')

20013

In [40]:
chr(66)

'B'

In [41]:
chr(25991)

'文'

In [42]:
'\u4e2d\u6587'

'中文'

In [43]:
'ABC'.encode('ascii')

b'ABC'

In [44]:
'中文'.encode('utf-8')

b'\xe4\xb8\xad\xe6\x96\x87'

In [45]:
'中文'.encode('ascii')

UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-1: ordinal not in range(128)

In [46]:
b'ABC'.decode('ascii')

'ABC'

In [47]:
b'\xe4\xb8\xad\xe6\x96\x87'.decode('utf-8')

'中文'

In [48]:
b'\xe4\xb8\xad\xff'.decode('utf-8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 3: invalid start byte

In [49]:
b'\xe4\xb8\xad\xff'.decode('utf-8',errors='ignore')

'中'

In [50]:
len('ABC')

3

In [51]:
len('中文')

2

In [52]:
len(b'ABC')

3

In [53]:
len(b'\xe4\xb8\xad\xe6\x96\x87')

6

In [54]:
len('中文'.encode('utf-8'))

6

In [55]:
'Hello, %s' % 'world'

'Hello, world'

In [56]:
'Hi, %s, you have $%d.' %('Michael',1000000)

'Hi, Michael, you have $1000000.'

In [57]:
print('%2d-%02d' %(3,1))

 3-01

In [58]:
print('%.2f' % 3.1415926)

3.14

In [59]:
'Age: %s. Gender: %s' %(25, True)

'Age: 25. Gender: True'

In [60]:
'growth rate: %d %%' %7

'growth rate: 7 %'

In [61]:
'Hello, {0}, 成绩提升了{1:.1f}%'.format('小明',17.125)

'Hello, 小明, 成绩提升了17.1%'

In [62]:
r = 2.5

In [63]:
s = 3.14 * r ** 2

In [64]:
print(f'The area of a circle with radius {r} is {s:.2f}')

The area of a circle with radius 2.5 is 19.62

In [66]:
s1 = 72
s2 = 85
r =  s2 / s1 - 1
print(f'小明成绩提高了{r * 100:.2f} %')

小明成绩提高了18.06 %

In [67]:
classmates = ['Michael','Bob','Tracy']

In [68]:
classmates

['Michael', 'Bob', 'Tracy']

In [69]:
len(classmates)

3

In [70]:
classmates[0]

'Michael'

In [71]:
classmates[1]

'Bob'

In [72]:
classmates[2]

'Tracy'

In [73]:
classmates[3]

IndexError: list index out of range

In [74]:
classmates[-1]

'Tracy'

In [75]:
classmates[-2]

'Bob'

In [76]:
classmates[-3]

'Michael'

In [77]:
classmates[-4]

IndexError: list index out of range

In [78]:
classmates.append('Adam')

In [79]:
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [80]:
classmates.insert(1,'Jack')

In [81]:
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

In [82]:
classmates.pop(1)

'Jack'

In [83]:
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [84]:
classmates[1] = 'Sarah'

In [85]:
classmates

['Michael', 'Sarah', 'Tracy', 'Adam']

In [86]:
L = ['Apple',123,True]

In [87]:
s = ['python','java',['asp','php'],'scheme']

In [88]:
len(s)

4