In [1]:
print('I\'m ok.')

I'm ok.

In [2]:
print('I\'m learning\nPython.')

I'm learning
Python.

In [3]:
print('\\\n\\')

\
\

In [4]:
print('\\\t\\')

\	\

In [5]:
print(r'\\\t\\')

\\\t\\

In [6]:
print('''line1
... line2
... line3''')

line1
line2
line3

In [7]:
print('''line1
      line2
      line3''')

line1
      line2
      line3

In [8]:
print('''line1
line2
line3''')

line1
line2
line3

In [9]:
True

True

In [10]:
False

False

In [11]:
3 > 2

True

In [12]:
3 > 5

False

In [13]:
True and True

True

In [14]:
True and False

False

In [15]:
False and False

False

In [16]:
5 > 3 and 3 > 1

True

In [17]:
True or True

True

In [18]:
True or False

True

In [19]:
False or False

False

In [20]:
5 > 3 or 1 > 3

True

In [21]:
not True

False

In [22]:
not False

True

In [23]:
not 1 > 2

True

In [ ]:
a = 1

In [24]:
t_007 =  'T007'

In [25]:
Answer = True

In [27]:
a  = 123
print(a)

123

In [28]:
a = 'ABC'
print(a)

ABC

In [ ]:
x = 10
x = x + 2

In [30]:
a = 'ABC'
b = a
a = 'XYZ'
print(b)

ABC

In [31]:
PI = 3.14159265359

In [32]:
10 / 3

3.3333333333333335

In [33]:
9 / 3

3.0

In [34]:
10 // 3

3

In [35]:
10 % 3

1

In [36]:
n = 123
f = 456.789
s1 = 'Hello, world'
s2 = 'Hello,\'Adam\'' 
s3 = r'Hello, "Bart"'
s4 = r'''Hello,
Bob!'''
print(n)
print(f)
print(s1)
print(s2)
print(s3)
print(s4)

123
456.789
Hello, world
Hello,'Adam'
Hello, "Bart"
Hello,
Bob!

In [37]:
print('包含中文的str')

包含中文的str

In [38]:
ord('A')

65

In [39]:
ord('中')

20013

In [40]:
chr(66)

'B'

In [41]:
chr(25991)

'文'

In [42]:
'\u4e2d\u6587'

'中文'

In [43]:
'ABC'.encode('ascii')

b'ABC'

In [44]:
'中文'.encode('utf-8')

b'\xe4\xb8\xad\xe6\x96\x87'

In [45]:
'中文'.encode('ascii')

UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-1: ordinal not in range(128)

In [46]:
b'ABC'.decode('ascii')

'ABC'

In [47]:
b'\xe4\xb8\xad\xe6\x96\x87'.decode('utf-8')

'中文'

In [48]:
b'\xe4\xb8\xad\xff'.decode('utf-8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 3: invalid start byte

In [49]:
b'\xe4\xb8\xad\xff'.decode('utf-8',errors='ignore')

'中'

In [50]:
len('ABC')

3

In [51]:
len('中文')

2

In [52]:
len(b'ABC')

3

In [53]:
len(b'\xe4\xb8\xad\xe6\x96\x87')

6

In [54]:
len('中文'.encode('utf-8'))

6

In [55]:
'Hello, %s' % 'world'

'Hello, world'

In [56]:
'Hi, %s, you have $%d.' %('Michael',1000000)

'Hi, Michael, you have $1000000.'

In [57]:
print('%2d-%02d' %(3,1))

 3-01

In [58]:
print('%.2f' % 3.1415926)

3.14

In [59]:
'Age: %s. Gender: %s' %(25, True)

'Age: 25. Gender: True'

In [60]:
'growth rate: %d %%' %7

'growth rate: 7 %'

In [61]:
'Hello, {0}, 成绩提升了{1:.1f}%'.format('小明',17.125)

'Hello, 小明, 成绩提升了17.1%'

In [62]:
r = 2.5

In [63]:
s = 3.14 * r ** 2

In [64]:
print(f'The area of a circle with radius {r} is {s:.2f}')

The area of a circle with radius 2.5 is 19.62

In [66]:
s1 = 72
s2 = 85
r =  s2 / s1 - 1
print(f'小明成绩提高了{r * 100:.2f} %')

小明成绩提高了18.06 %

In [67]:
classmates = ['Michael','Bob','Tracy']

In [68]:
classmates

['Michael', 'Bob', 'Tracy']

In [69]:
len(classmates)

3

In [70]:
classmates[0]

'Michael'

In [71]:
classmates[1]

'Bob'

In [72]:
classmates[2]

'Tracy'

In [73]:
classmates[3]

IndexError: list index out of range

In [74]:
classmates[-1]

'Tracy'

In [75]:
classmates[-2]

'Bob'

In [76]:
classmates[-3]

'Michael'

In [77]:
classmates[-4]

IndexError: list index out of range

In [78]:
classmates.append('Adam')

In [79]:
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [80]:
classmates.insert(1,'Jack')

In [81]:
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

In [82]:
classmates.pop(1)

'Jack'

In [83]:
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [84]:
classmates[1] = 'Sarah'

In [85]:
classmates

['Michael', 'Sarah', 'Tracy', 'Adam']

In [86]:
L = ['Apple',123,True]

In [87]:
s = ['python','java',['asp','php'],'scheme']

In [88]:
len(s)

4

In [1]:
p = ['asp','php']
s = ['python','java',p,'scheme']

In [3]:
L = []
len(L)

0

In [4]:
classmates = ('Michael','Bob', 'Tracy')

In [6]:
t = (1,2)

In [7]:
t

(1, 2)

In [8]:
t = ()

In [10]:
t

()

In [11]:
t = (1)
t

1

In [12]:
t = (1,)

In [13]:
t

(1,)

In [14]:
t = ('a','b',['A','B'])
t[2][0] = 'X'
t[2][1] = 'Y'
t

('a', 'b', ['X', 'Y'])

In [15]:
L = [
    ['Apple', 'Google', 'Microsoft'],
    ['Java', 'Python', 'Ruby', 'PHP'],
    ['Adam', 'Bart', 'Bob']
]

# 打印Apple:
print(L[0][0])
# 打印Python:
print(L[1][1])
# 打印Bob:
print(L[2][2])

Apple
Python
Bob

In [17]:
age = 20
if age >= 18:
    print('your age is',age)
    print('adult')

your age is 20
adult

In [18]:
age = 3
if age >= 18:
    print('your age is', age)
    print('adult')
else:
    print('your age is', age)
    print('teenager')

your age is 3
teenager

In [20]:
age = 3
if age >= 18:
    print('adult')
elif age >= 6:
    print('teenager')
else:
    print('kid')

kid

In [21]:
age = 20
if age >= 6:
    print('teenager')
elif age >= 18:
    print('adult')
else:
    print('kid')

teenager

In [22]:
birth = input('birth: ')
if birth < 2000:
    print('00前')
else:
    print('00后')

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
s = input('birth: ')
birth = int(s)
if birth < 2000:
    print('00前')
else:
    print('00后')

00前

In [ ]:
height = 1.75
weight = 80.5

bmi = (weight/height) * (weight/height)

if bmi > 32:
    print("严重肥胖")
elif bmi > 28: 
    print("肥胖")
elif bmi > 25:
    print("过重")
elif bmi > 18.5:
    print("正常")
else:
    print("过轻")

严重肥胖

In [3]:
score = 'B'
if score == 'A':
    print('score is A.')
elif score == 'B':
    print('score is B.')
elif score == 'C':
    print('score is C.')
else:
    print('invalid score.')

score is B.

In [4]:
score = 'B'

match score:
    case 'A':
        print('score is A.')
    case 'B':
        print('score is B.')
    case 'C':
        print('score is C.')
    case _:
        print('score is ???.')

score is B.

In [5]:
args = ['gcc', 'hello.c', 'world.c']
# args = ['clean']
# args = ['gcc']

match args:
    # 如果仅出现gcc，报错:
    case ['gcc']:
        print('gcc: missing source file(s).')
    # 出现gcc，且至少指定了一个文件:
    case ['gcc', file1, *files]:
        print('gcc compile: ' + file1 + ', ' + ', '.join(files))
    # 仅出现clean:
    case ['clean']:
        print('clean')
    case _:
        print('invalid command.')

gcc compile: hello.c, world.c

In [7]:
1 + 2 + 3

6

In [8]:
names = ['Michael','Bob','Tracy']
for name in names:
    print(name)

Michael
Bob
Tracy

In [9]:
sum = 0
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    sum = sum + x
print(sum)

55

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
sum = 0
for x in range(101):
    sum = sum + x
print(sum)

5050

In [12]:
sum = 0
n = 99
while n > 0:
    sum = sum + n
    n = n - 2
print(sum)

2500

In [14]:
L = ['Bart', 'Lisa', 'Adam']
for name in L:
    print(f'Hello, {name}!')

Hello, Bart!
Hello, Lisa!
Hello, Adam!

In [15]:
n = 1
while n <= 100:
    print(n)
    n = n + 1
print('END')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
END

In [16]:
n = 1
while n <= 100:
    if n > 10: # 当n = 11时，条件满足，执行break语句
        break # break语句会结束当前循环
    print(n)
    n = n + 1
print('END')

1
2
3
4
5
6
7
8
9
10
END

In [17]:
n = 0
while n < 10:
    n = n + 1
    if n % 2 == 0: # 如果n是偶数，执行continue语句
        continue # continue语句会直接继续下一轮循环，后续的print()语句不会执行
    print(n)

1
3
5
7
9

In [18]:
d = {'Michael':95,'Bob':75,'Tracy':85}
d['Michael']

95

In [19]:
d['Adam'] = 67
d['Adam']

67

In [20]:
d['Jack'] = 90
d['Jack']

90

In [21]:
d['Jack'] = 88
d['Jack']

88

In [22]:
d['Thomas']

KeyError: 'Thomas'

In [23]:
'Thomas' in d

False

In [25]:
d.get('Thomas')
d.get('Thomas',-1)

-1

In [26]:
d.pop('Bob')

75

In [27]:
d

{'Michael': 95, 'Tracy': 85, 'Adam': 67, 'Jack': 88}

In [28]:
key = [1,2,3]
d[key] = 'a list'

TypeError: unhashable type: 'list'

In [29]:
s = {1,2,3}

In [30]:
s

{1, 2, 3}

In [31]:
s = set([1,2,3])

In [32]:
s

{1, 2, 3}

In [33]:
s  = {1,1,2,2,3,3}

In [34]:
s

{1, 2, 3}

In [35]:
s.add(4)

In [36]:
s

{1, 2, 3, 4}

In [37]:
s.add(4)
s

{1, 2, 3, 4}

In [38]:
s.remove(4)
s

{1, 2, 3}

In [39]:
a = ['c', 'b', 'a']
a.sort()
a

['a', 'b', 'c']